/**
 * @ Author: JunkJumper
 * @ Link: https://github.com/JunkJumper
 * @ Copyright: Creative Common 4.0 (CC BY 4.0)
 * @ Create Time: 06-10-2020 21:25:12
 * @ Modified by: JunkJumper
 * @ Modified time: 20-10-2020 17:46:44
 * @ Description:
 */

body,
html {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background-color: #edecec
}

body a {
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all
}

a:active,
a:focus,
a:hover {
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-decoration: none
}

a {
    background-color: none
}

body p {
    font-family: Roboto, sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Montserrat, sans-serif
}

a {
    color: #008de7;
    font-weight: 400
}

a:hover {
    transition: all .2s ease-in-out
}

.page-container {
    min-width: 1260px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.left-content {
    float: right;
    width: 87%
}

a.sidebar-icon:hover {
    color: #1b93e1
}

.page-container.sidebar-collapsed {
    transition: all .1s linear;
    transition-delay: .3s
}

li.breadcrumb-item i.fa.fa-angle-right {
    font-size: 25px;
    padding: 0 8px;
    color: #000;
    vertical-align: middle
}

.breadcrumb>li {
    color: #e74c3c!important;
    font-size: 16px!important;
    vertical-align: middle!important
}

.page-container.sidebar-collapsed .left-content {
    float: right;
    width: 97%
}

.page-container.sidebar-collapsed-back {
    transition: all .1s linear
}

.page-container.sidebar-collapsed-back .left-content {
    transition: all .1s linear;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    float: right;
    width: 87%;
    padding: 0 2em
}

.left-content {
    width: 87%;
    padding: 0 2em
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all .1s ease-in-out;
    transition-delay: .3s
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 230px;
    transition: all .1s ease-in-out
}

.page-container.sidebar-collapsed .sidebar-icon {
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
    margin-right: 0;
    margin-top: -8px;
    color: #fff;
    background: #1b93e1;
    border-radius: 0
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(0);
    transition: all .3s ease-in-out
}

.page-container.sidebar-collapsed .logo {
    padding: 21px 0;
    height: 63px;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    transition-delay: .3s
}

.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all .2s ease-in-out;
    display: none
}

.page-container.sidebar-collapsed-back #logo {
    opacity: 1;
    transition: all .2s ease-in-out;
    transition-delay: .3s
}

.page-container.sidebar-collapsed #menu span {
    opacity: 0;
    transition: all 50ms linear
}

.page-container.sidebar-collapsed-back #menu span {
    opacity: 1;
    transition: all .2s linear;
    transition-delay: .3s
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 230px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: #aaabae;
    box-shadow: 0 0 10px 0 #3a291f;
    -o-box-shadow: 0 0 10px 0 #3a291f;
    -webkit-box-shadow: 0 0 10px 0 #3a291f;
    -moz-box-shadow: 0 0 10px 0 #3a291f;
    z-index: 999
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px
}

#menu li {
    position: relative;
    margin: 0;
    border-bottom: 1px ridge rgba(255, 255, 255, .04);
    padding: 0;
    padding: 0
}

#menu li ul {
    opacity: 0;
    height: 0
}

#menu li a {
    font-style: normal;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;
    white-space: nowrap;
    z-index: 2;
    background-color: #333;
    font-size: .9em;
    font-family: Roboto, sans-serif;
    border: none;
    border-left: 4px solid #333
}

#menu li a:hover {
    color: #fff;
    background-color: #1b93e1;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
    border-left: 4px solid #4a4a4a
}

#menu ul li {
    background-color: #333
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #2b303a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .1s linear;
    border-top: 1px solid rgba(69, 74, 84, .7)
}

#menu li:hover>ul {
    visibility: visible;
    opacity: 1
}

#menu li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity .1s linear
}

#menu li li:hover ul {
    visibility: visible;
    opacity: 1
}

#menu .fa {
    margin-right: 5px
}

.logo1 {
    width: 100%;
    padding: 15px 14px 15px;
    box-sizing: border-box;
    background: #1b93e1;
    text-align: center
}

.sidebar-icon {
    margin-top: -2px;
    border: 1px solid #1b93e1;
    text-align: right;
    line-height: 1;
    font-size: 19px;
    padding: 5px 10px;
    border-radius: 0;
    color: #1b93e1;
    background: #fff;
    float: none
}

ul#menu i {
    font-size: 1.1em;
    margin-right: 6px;
    width: 10%;
    float: left;
    padding-top: 2px
}

li#menu-academico {
    z-index: 999
}

.fa-html5 {
    color: #fff;
    margin-left: 50px
}

.menu {
    text-align: left
}

.header-main {
    padding: 1em;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.w3layouts-right {
    float: left;
    width: 24.25%;
    background: #e74c3c;
    text-align: center;
    padding: 1.3em 1em .1em;
    margin: 0 1%
}

.logo-w3-agile h1 {
    margin: 0;
    font-size: 35px
}

.logo-w3-agile h1 a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block
}

.w3layouts-left {
    float: left;
    width: 24.25%;
    background: #ff9501;
    padding: 1em
}

.logo-w3-agile {
    background: #a2d200;
    float: left;
    width: 24.25%;
    text-align: center;
    padding: 1em;
    margin-right: 1%
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: 0 0!important
}

.page-container.sidebar-collapsed-back #menu span.fa.fa-angle-right {
    position: absolute;
    top: 0;
    right: 20px
}

 ::-webkit-input-placeholder {
    color: #7a7b78!important
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 50px 50px
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 50px 50px
    }
}

i.icon_1 {
    float: left;
    color: #00aced;
    line-height: 2em;
    margin-right: 1em
}

i.icon_2 {
    float: left;
    color: #ef553a;
    line-height: 2em;
    margin-right: 1em;
    font-size: 20px
}

i.icon_3 {
    float: left;
    color: #9358ac;
    line-height: 2em;
    margin-right: 1em;
    font-size: 20px
}

i.icon_4 {
    width: 45px;
    height: 45px;
    background: #f44336;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    line-height: 44px;
    font-style: normal;
    margin-right: 1em
}

i.icon_5 {
    background-color: #3949ab
}

i.icon_6 {
    background-color: #03a9f4
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0
    }
    to {
        background-position: 40px 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }
    to {
        background-position: 0 0
    }
}

.copyrights {
    padding: 1.5em 0;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    background: #fff
}

.copyrights p {
    font-size: 1em;
    color: #696969;
    margin-bottom: 0
}

.copyrights p a {
    color: #1b93e1
}

.copyrights p a:hover {
    color: #696969
}

.card-body.p-b-20 .list-group {
    margin-bottom: 0
}

img.lg-item-img {
    width: 51px;
    height: 51px;
    border-radius: 50%
}

.card {
    background: #fff;
    margin-bottom: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

*,
 :active,
 :focus,
 :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important
}

.wthree-crd {
    padding-left: 0
}

.w3-agile-crd {
    padding-right: 0
}

.p-r-20 {
    padding-right: 20px!important
}

.p-l-20 {
    padding-left: 20px!important
}

.m-0 {
    margin: 0!important
}

.widget-report-table h3 {
    line-height: 36px;
    font-size: 24px;
    font-weight: 300
}

.text-right {
    text-align: right
}

.p-15 {
    padding: 15px!important
}

.card-header h3 {
    font-size: 24px;
    margin: 0
}

header.widget-header h4 {
    font-size: 24px
}

.table {
    margin-bottom: 0
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px
}

table {
    background-color: transparent
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.m-sidebar header h2,
.p-menu>li>a {
    text-transform: uppercase
}

*,
 :active,
 :focus,
 :hover {
    outline: 0!important;
    -webkit-tap-highlight-color: transparent!important
}

*,
a,
button,
i {
    -webkit-font-smoothing: antialiased
}

.list-group .list-group-item {
    border: 0;
    margin: 0;
    padding: 1px 5px
}

.list-group-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
}

a.list-group-item,
button.list-group-item {
    color: #555
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1px 5px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #e9e9e9
}

.pull-right {
    float: right!important
}

.agileinfo-cdr {
    padding: 25px 27px
}

.media>.pull-left {
    padding-right: 15px
}

.pull-left {
    float: left!important
}

.widget h4 {
    margin: 0;
    line-height: 100%;
    font-size: 18px;
    font-weight: 400
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border-top: 1px solid #eee
}

.card .card-body.card-padding {
    padding: 10px 10px
}

.panel-body .list-group {
    margin-bottom: 0
}

.lg-item-heading {
    color: #000;
    font-weight: 600
}

small.lg-item-text {
    color: #777
}

.panel {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .05);
    transition: all ease .5s;
    -moz-transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -ms-transition: all ease .5s;
    position: relative;
    border: 0;
    display: inline-block;
    width: 100%;
    background: #8e44ad;
    border-radius: 0
}

.panel-body {
    padding: 15px
}

.list-group {
    margin-top: 10px;
    margin-bottom: 10px
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.list-group fa i {
    font-size: 16px;
    margin-right: 15px;
    color: #fff
}

a.list-group-item,
button.list-group-item {
    color: #fff
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item {
    margin-bottom: -1px;
    border: 1px solid rgba(255, 255, 255, .1);
    line-height: 20px;
    background: rgba(255, 255, 255, .1)
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, .2)
}

header.agileits-box-header.clearfix h3 {
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2a2f43
}

.table-img img {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px
}

.nav>li>a {
    color: #999;
    font-weight: 500;
    padding: 0 20px 0 0;
    font-size: .85em;
    border-bottom: 1px solid #e9e9e9
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.table {
    margin-bottom: 0
}

.nav-sidebar ul li a span {
    color: #fff;
    font-size: .8em;
    background: #e74c3c;
    border-radius: 10px;
    width: 25px;
    height: 18px;
    display: inline-block;
    line-height: 1.7em;
    text-align: center;
    float: right
}

.content-box {
    background-color: #fff;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.content-box ul li {
    list-style: none
}

.content-box ul li a {
    font-size: 1em;
    color: #999;
    padding: .5em 1em;
    display: block
}

.content-box ul li span {
    font-size: 1.1em;
    color: #fff;
    padding: .5em 1em;
    background: #1abc9c;
    display: block;
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px
}

.content-box ul li a i {
    margin-right: 4%
}

nav.nav-sidebar {
    margin: 1em 0;
    background: #fff;
    border: 1px solid #ebeff6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.nav>li>a i {
    margin-right: 14px
}

.panel-title h3 {
    color: #1b93e1;
    font-size: 1.5em;
    margin: 0 0 1em 0
}

.bg-dark,
.bg-primary,
.bg-success,
.bg-system,
.bg-warning {
    margin-bottom: 1em
}

.fw600 {
    font-weight: 600!important
}

.pv20 {
    padding-top: 18px!important;
    padding-bottom: 18px!important
}

.bg-dark {
    background-color: #2a3342!important;
    color: #8697b2
}

.text-white {
    color: #fff!important
}

.bg-dark.dark {
    background-color: #1e252f!important
}

.bg-primary {
    background-color: #11a8bb!important;
    color: #a2edf6
}

.bg-primary.dark {
    background-color: #0e8f9f!important
}

.bg-success {
    background-color: #47d178!important;
    color: #eafaf0
}

.bg-success.dark {
    background-color: #32c867!important
}

.bg-warning {
    background-color: #ff7444!important;
    color: #fff
}

.bg-warning.dark {
    background-color: #ff5d25!important
}

.bg-system {
    background-color: #6852b2!important;
    color: #e3dff1
}

.bg-system.dark {
    background-color: #5b479f!important
}

#content .panel {
    -webkit-box-shadow: 0 2px 0 #e5eaee;
    box-shadow: 0 2px 0 #e5eaee;
    padding: 28px 32px;
    border-radius: 5px
}

.panel-heading+.panel-body {
    border-top: 0
}

#content .panel .panel-body {
    border: 0;
    margin-top: 30px
}

#content .panel .panel-heading+.panel-body {
    margin-top: 0
}

a.button,
a.button2 {
    padding: 1em;
    cursor: pointer;
    background: 0 0;
    text-decoration: none;
    font-size: 1.2em;
    color: #666;
    -webkit-tap-highlight-color: transparent
}

.aligncenter {
    text-align: center
}

.col-1 {
    background-color: #399834
}

.col-2 {
    background-color: #c65186
}

.col-3 {
    background-color: #2f72c3
}

.col-4 {
    background-color: #768b82
}

.col-5 {
    background-color: #e84c3d
}

.col-6 {
    background-color: #b147cb
}

.col-7 {
    background-color: #1bbc9b
}

.col-24 {
    background-color: #4c4c4c
}

.col-8 {
    background-color: #739b9d
}

.col-9 {
    background-color: #3598db
}

.col-10 {
    background-color: #27ae61
}

.col-11 {
    background-color: #f98b02
}

.col-12 {
    background-color: #a1a8ae
}

.col-13 {
    background-color: #eca900
}

.col-14 {
    background-color: #9b58b5
}

.col-15 {
    background-color: #44ccf6
}

.col-16 {
    background-color: #7f7f7f
}

.col-17 {
    background-color: #2ecd71
}

.col-18 {
    background-color: #e63f51
}

.col-19 {
    background-color: #b9bf15
}

.col-20 {
    background-color: #399834
}

.col-21 {
    background-color: #c65186
}

.col-22 {
    background-color: #2f72c3
}

.col-23 {
    background-color: #758f84
}

.hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-left: 2.2em;
    -webkit-transition-duration: .1s;
    transition-duration: .1s
}

.hvr-icon-back:before {
    content: "\f137";
    position: absolute;
    left: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-icon-back:active:before,
.hvr-icon-back:focus:before,
.hvr-icon-back:hover:before {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px)
}

@-webkit-keyframes hvr-icon-down {
    0%,
    100%,
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@keyframes hvr-icon-down {
    0%,
    100%,
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    75% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-webkit-keyframes hvr-icon-up {
    0%,
    100%,
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    75% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

@keyframes hvr-icon-up {
    0%,
    100%,
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    25%,
    75% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

.hvr-icon-spin {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em
}

.hvr-icon-spin:before {
    content: "\f021";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

.hvr-icon-spin:active:before,
.hvr-icon-spin:focus:before,
.hvr-icon-spin:hover:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}

@-webkit-keyframes hvr-icon-drop {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100%,
    51% {
        opacity: 1
    }
}

@keyframes hvr-icon-drop {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100%,
    51% {
        opacity: 1
    }
}

@-webkit-keyframes hvr-icon-float-away {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em)
    }
}

@keyframes hvr-icon-float-away {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em)
    }
}

@-webkit-keyframes hvr-icon-sink-away {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em)
    }
}

@keyframes hvr-icon-sink-away {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em)
    }
}

@-webkit-keyframes hvr-icon-pulse {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    75% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes hvr-icon-pulse {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    75% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}

@keyframes hvr-icon-pulse-grow {
    to {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
}

@-webkit-keyframes hvr-icon-pulse-shrink {
    to {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes hvr-icon-pulse-shrink {
    to {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@keyframes hvr-icon-push {
    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
}

@-webkit-keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes hvr-icon-pop {
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}

.hvr-icon-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: .3s;
    transition-duration: .3s
}

.hvr-icon-float:before {
    content: "\f01b";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-icon-float:active:before,
.hvr-icon-float:focus:before,
.hvr-icon-float:hover:before {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
}

@-webkit-keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

@keyframes hvr-icon-bob {
    0% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    50% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

@-webkit-keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

@keyframes hvr-icon-bob-float {
    100% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
}

@-webkit-keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@keyframes hvr-icon-hang {
    0% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-webkit-keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@keyframes hvr-icon-hang-sink {
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes hvr-icon-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px)
    }
    33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px)
    }
    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px)
    }
    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px)
    }
    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes hvr-icon-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
}

@keyframes hvr-icon-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
}

@-webkit-keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@keyframes hvr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

.banner {
    background: #fff;
    display: block;
    padding: 1em;
    border: 1px solid #ebeff6;
    border-color: #ebeff6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.banner h2 {
    font-size: .9em
}

.banner h2 a {
    color: #00bcd4;
    text-decoration: none;
    padding: .3em
}

.banner h2 i {
    color: #000;
    vertical-align: middle;
    padding: .3em
}

.banner h2 span {
    color: #000;
    padding: .3em
}

.questions h2,
.questions h5 {
    color: #1b93e1;
    font-size: 1.3em;
    line-height: 1.6em
}

.questions p {
    font-size: .9em;
    color: #999;
    padding: 1em 0;
    line-height: 2em
}

.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, .18);
    margin: 1em 0 1em 0;
    border: 5px solid #fff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
    cursor: pointer
}

.icon-box:hover {
    background: #000;
    transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all
}

.icon-box:hover i.fa {
    color: #fff!important
}

.icon-box:hover a.agile-icon {
    color: #fff!important
}

h2.agileits-icons-title,
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #e74c3c
}

.icons a {
    color: #999
}

.icon-box i {
    margin-right: 10px!important;
    font-size: 20px!important;
    color: #282a2b!important
}

@media (max-width:991px) {
    h2.agileits-icons-title,
    h3.agileits-icons-title {
        font-size: 28px
    }
}

@media (max-width:768px) {
    h2.agileits-icons-title,
    h3.agileits-icons-title {
        font-size: 28px
    }
    .row {
        margin-right: 0;
        margin-left: 0
    }
    .icon-box {
        margin: 0
    }
}

@media (max-width:640px) {
    .icon-box {
        float: left;
        width: 50%
    }
}

@media (max-width:414px) {
    h2.agileits-icons-title,
    h3.agileits-icons-title {
        font-size: 23px
    }
}

@media (max-width:384px) {
    .icon-box {
        float: none;
        width: 100%
    }
}

.list-group-item {
    font-weight: 300;
    font-size: 14px
}

li.list-group-item1 {
    font-size: 14px;
    font-weight: 300
}

.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0
}

.show-grid [class*=col-]:hover {
    background: #e0e0e0
}

.grid_3 {
    margin-bottom: 2em
}

.xs h3,
h3.m_1 {
    color: #000;
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 1em
}

.grid_3 p {
    color: #999;
    font-size: .85em;
    margin-bottom: 1em;
    font-weight: 300
}

.grid_5 {
    background: 0 0;
    padding: 2em 0
}

.grid_5 h1,
.grid_5 h2,
.grid_5 h3,
.grid_5 h4,
.grid_5 h5,
h3.bars {
    margin-bottom: 1em;
    color: #1b93e1;
    font-weight: 700
}

.grid_3 p {
    line-height: 2em;
    color: #888;
    font-size: .9em;
    margin-bottom: 1em;
    font-weight: 300
}

li.list-group-item1 {
    line-height: 2.5em
}

.list-group {
    margin-bottom: 48px
}

ol {
    margin-bottom: 44px
}

@media (max-width:768px) {
    .grid_5 {
        padding: 0 0 1em
    }
    .grid_3 {
        margin-bottom: 0
    }
}

@media (max-width:640px) {
    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        margin-top: 0;
        margin-bottom: 0
    }
    .grid_5 h1,
    .grid_5 h2,
    .grid_5 h3,
    .grid_5 h4,
    .grid_5 h5,
    h3.bars {
        margin-bottom: .5em
    }
    .grid_3 p,
    li.list-group-item1,
    ol.breadcrumb li,
    ul.list-group li {
        font-size: 14px
    }
    .breadcrumb {
        margin-bottom: 25px
    }
}

@media (max-width:480px) {
    .grid_5 h1,
    .grid_5 h2,
    .grid_5 h3,
    .grid_5 h4,
    .grid_5 h5,
    h3.bars {
        font-size: 1.2em
    }
    .table h1 {
        font-size: 26px
    }
    .table h2 {
        font-size: 23px
    }
    .table h3 {
        font-size: 20px
    }
    p {
        font-size: 14px
    }
    .grid_3.grid_4.w3layouts {
        margin-top: 0
    }
}

@media (max-width:320px) {
    .grid_4 {
        margin-top: 18px
    }
    h3.title {
        font-size: 1.6em
    }
    .grid_3 p,
    a.list-group-item,
    li.list-group-item1,
    ol.breadcrumb li,
    p,
    ul.list-group li {
        font-size: 13px
    }
    .list-group {
        margin-bottom: 10px
    }
    .nav>li>a {
        font-size: 14px
    }
}

.grid_3.grid_4 {
    background: #fff!important;
    padding: 2em!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.grid_3.grid_4.w3layouts {
    padding: 0!important
}

h4.title {
    margin: 0;
    line-height: 100%;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2em;
    color: #1b93e1
}

.widget_1_box1 {
    padding: 0
}

.main {
    background: #3b8fc5;
    min-height: 794px
}

.main p {
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 32px;
    padding-top: 10px
}

.text {
    width: 64%;
    float: left;
    padding: 5em 0 3em 0
}

.text a {
    color: #000;
    text-decoration: undrline
}

.text a:hover {
    color: #003b64;
    text-decoration: underline
}

.main h1 {
    font-size: 70px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
    font-weight: 700
}

.agileits_main_grid_right {
    float: right;
    margin: 1.2em 0 0
}

.agileits_main_grid_left {
    float: left
}

.wthree {
    background: #000;
    padding: 1em
}

.back a {
    display: block;
    font-size: 1.2em;
    color: #e74c3c;
    text-decoration: none;
    padding-top: 6px;
    text-align: center;
    margin: 2em 0 0
}

@media (max-width:1336px) {
    .main h1 {
        font-size: 66px
    }
    .main p {
        font-size: 18px
    }
}

@media (max-width:1280px) {
    .main h1 {
        font-size: 62px
    }
}

@media (max-width:1024px) {
    .main h1 {
        font-size: 56px
    }
}

@media (max-width:800px) {
    .text {
        width: 70%;
        padding: 3em 0 3em 0
    }
    .main h1 {
        font-size: 52px
    }
    p {
        font-size: 16px
    }
}

@media (max-width:736px) {
    .main h1 {
        font-size: 48px
    }
}

@media (max-width:667px) {
    .main h1 {
        font-size: 43px
    }
    .text {
        padding: 3em 0 1em 0
    }
}

@media (max-width:640px) {
    .main h1 {
        font-size: 40px
    }
    .main p {
        line-height: 26px
    }
}

@media (max-width:600px) {
    .main h1 {
        font-size: 37px
    }
}

@media (max-width:568px) {
    .main p {
        font-size: 16px
    }
    .main h1 {
        font-size: 34px
    }
    .back a {
        font-size: 1em;
        padding-top: 8px
    }
}

@media (max-width:480px) {
    .main h1 {
        font-size: 32px
    }
    .text {
        padding: 3em 0 0 0
    }
}

@media (max-width:414px) {
    .text {
        width: 100%;
        float: none
    }
    .text {
        padding: 2em 0 0 0
    }
}

@media (max-width:320px) {
    .agileits_main_grid_left h1 {
        font-size: 1.8em
    }
    .main h1 {
        font-size: 28px;
        margin-bottom: 0
    }
    .main p {
        font-size: 14px;
        line-height: 24px
    }
    .back a {
        padding-top: 0
    }
    .text {
        padding: 1em 0 0 0
    }
}

.main-wthree {
    background: #3b8fc5;
    min-height: 794px
}

.main-wthree h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 2em;
    letter-spacing: 3px;
    text-align: center
}

@media screen and (max-width:1080px) {
    .main-wthree {
        min-height: 675px
    }
}

@media screen and (max-width:991px) {
    .main-wthree {
        min-height: 600px
    }
}

@media screen and (max-width:800px) {
    .main-wthree {
        min-height: 929px
    }
}

@media screen and (max-width:736px) {
    .main-wthree h2 {
        font-size: 28px;
        letter-spacing: 2px
    }
    .main-wthree {
        min-height: 530px
    }
}

@media screen and (max-width:480px) {
    .main-wthree {
        min-height: 600px
    }
}

@media screen and (max-width:414px) {
    .main-wthree {
        min-height: 672px
    }
}

@media screen and (max-width:375px) {
    .main-wthree h2 {
        font-size: 24px
    }
    .main-wthree {
        min-height: 603px
    }
}

@media screen and (max-width:320px) {
    .main-wthree h2 {
        font-size: 19px;
        letter-spacing: 1px;
        padding-top: 25px
    }
    .main-wthree {
        min-height: 504px
    }
}

.breadcrumb {
    padding: 8px 15px!important;
    margin: 20px 0!important;
    background-color: #fff!important;
    border-radius: 0!important
}

@media (max-width:1600px) {
    .left-content {
        float: right;
        width: 86%
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 86%
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 96%
    }
}

@media (max-width:1440px) {
    .left-content {
        float: right;
        width: 84%
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 84%
    }
}

@media (max-width:1366px) {
    .widget-report-table h3 {
        font-size: 19px
    }
    header.widget-header h4 {
        font-size: 20px
    }
    .card-header h3 {
        font-size: 23px
    }
}

@media (max-width:1280px) {
    .left-content {
        float: right;
        width: 83%
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 83%
    }
    .w3layouts-aug {
        padding: 0
    }
    .list-group .list-group-item {
        padding: 18px 12px
    }
    .agileinfo-cdr {
        padding: 25px 15px
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px
    }
    .icon-box {
        float: left;
        width: 33.33%
    }
}

@media (max-width:1080px) {
    .page-container {
        min-width: 1032px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 94%
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 78%
    }
    .left-content {
        float: right;
        width: 78%
    }
    .logo-w3-agile h1 {
        font-size: 27px
    }
    .w3layouts-left {
        padding: .73em
    }
    .wthree-crd {
        padding-left: 0;
        width: 100%;
        padding: 0
    }
    .w3-agileits-crd {
        float: left;
        width: 50%;
        padding-left: 0
    }
    .w3-agile-crd {
        padding-right: 0;
        float: left;
        width: 50%
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px
    }
    h4.title {
        font-size: 18px
    }
    .main {
        background: #3b8fc5;
        min-height: 675px
    }
    .questions h2,
    .questions h5 {
        font-size: 1.2em
    }
}

@media (max-width:991px) {
    #menu li a {
        padding: 12px 20px;
        font-size: .85em
    }
    .sidebar-menu {
        position: fixed;
        float: left;
        width: 200px
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 200px;
        transition: all .1s ease-in-out
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 81%
    }
    .left-content {
        float: right;
        width: 81%
    }
    .page-container {
        min-width: 991px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .main {
        min-height: 929px
    }
    .icon-box {
        width: 50%
    }
}

@media (max-width:800px) {
    .page-container {
        min-width: 800px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 76%
    }
    .left-content {
        float: right;
        width: 76%
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 93%
    }
    .logo-w3-agile {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 1em
    }
    .w3layouts-left {
        width: 48%;
        margin-bottom: 1em
    }
    .w3layouts-right {
        width: 48%;
        margin: 0 4% 0 0
    }
    .w3-agileits-crd {
        width: 100%;
        padding: 0
    }
    .w3-agile-crd {
        width: 100%;
        padding: 0
    }
}

@media (max-width:768px) {
    .page-container {
        min-width: 775px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .sidebar-menu {
        position: fixed;
        float: left;
        width: 200px
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 200px;
        transition: all .1s ease-in-out
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 76%
    }
    .left-content {
        float: right;
        width: 76%
    }
    .grid_3.grid_4 {
        padding: 1em!important
    }
}

@media (max-width:736px) {
    .page-container {
        min-width: 736px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .sidebar-menu {
        position: fixed;
        float: left;
        width: 180px
    }
    .sidebar-icon {
        margin-top: -2px;
        font-size: 19px;
        padding: 8px 9px
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 76%
    }
    .left-content {
        float: right;
        width: 76%
    }
    .sidebar-menu {
        position: absolute
    }
    .main {
        min-height: 480px
    }
}

@media (max-width:667px) {
    .page-container {
        min-width: 675px
    }
    .panel-title h3 {
        font-size: 1.2em
    }
}

@media (max-width:640px) {
    .page-container {
        min-width: 650px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .sidebar-menu {
        position: fixed;
        float: left;
        width: 170px
    }
    .sidebar-icon {
        margin-top: -6px;
        font-size: 19px;
        padding: 6px 7px;
        margin-right: 0
    }
    .left-content {
        float: right;
        width: 92%
    }
    .page-container.sidebar-collapsed {
        transition: all .1s linear;
        transition-delay: .3s
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 74%
    }
    .page-container.sidebar-collapsed-back {
        transition: all .1s linear
    }
    .page-container.sidebar-collapsed-back .left-content {
        transition: all .1s linear;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        float: right;
        width: 92%
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width: 180px;
        transition: all .1s ease-in-out;
        transition-delay: .3s
    }
    .page-container.sidebar-collapsed-back .sidebar-menu {
        width: 65px;
        transition: all .1s ease-in-out
    }
    .page-container.sidebar-collapsed .sidebar-icon {
        transition: all .3s ease-in-out;
        margin-right: .1em;
        margin-top: -7px;
        color: #fff;
        background: #1b93e1;
        border-radius: 0;
        transform: rotate(0)
    }
    .page-container.sidebar-collapsed-back .sidebar-icon {
        transform: rotate(90deg);
        transition: all .3s ease-in-out;
        margin-top: -2px;
        font-size: 19px;
        padding: 6px 7px;
        margin: 0 14px
    }
    .page-container.sidebar-collapsed .logo {
        padding: 21px 15px;
        height: 63px;
        box-sizing: border-box;
        transition: all .1s ease-in-out;
        transition-delay: .3s
    }
    .logo1 {
        padding: 21px 0;
        height: 63px;
        box-sizing: border-box;
        transition: all .1s ease-in-out;
        transition-delay: .3s
    }
    span#logo1 {
        display: none
    }
    .page-container.sidebar-collapsed-back span#logo {
        display: block
    }
    .page-container.sidebar-collapsed-back .logo {
        width: 100%;
        padding: 13px 14px;
        height: 60px;
        box-sizing: border-box;
        transition: all .1s ease-in-out
    }
    .page-container.sidebar-collapsed #logo {
        opacity: 0;
        transition: all .2s ease-in-out;
        display: block;
        float: left
    }
    .page-container.sidebar-collapsed #logo {
        opacity: 1;
        transition: all .2s ease-in-out;
        display: block
    }
    .page-container.sidebar-collapsed-back #logo {
        opacity: 1;
        transition: all .2s ease-in-out;
        transition-delay: .3s;
        display: block
    }
    .page-container.sidebar-collapsed-back span#logo {
        opacity: 1;
        transition: all .2s linear;
        transition-delay: .3s;
        display: none
    }
    .page-container.sidebar-collapsed-back #menu span {
        display: none
    }
    .page-container.sidebar-collapsed #menu span {
        display: block
    }
    .page-container.sidebar-collapsed #menu span {
        opacity: 1;
        transition: all 50ms linear;
        display: inline-block;
        margin-left: 10px
    }
    #menu span {
        opacity: 0;
        transition: all 50ms linear;
        display: inline-block;
        margin-left: 10px
    }
    span.fa.fa-angle-right {
        float: right!important;
        position: absolute!important;
        right: 15px!important
    }
    .sidebar-menu {
        width: 65px;
        transition: all .1s ease-in-out;
        transition-delay: .3s
    }
    .sidebar-menu {
        position: absolute
    }
    .main {
        min-height: 600px
    }
}

@media (max-width:600px) {
    .page-container {
        min-width: 600px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 72%
    }
    .page-container.sidebar-collapsed-back {
        width: 72%
    }
    .main {
        min-height: 430px
    }
}

@media (max-width:568px) {
    .page-container {
        min-width: 568px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 91%
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 70%
    }
    .logo {
        padding: 18px 0;
        height: 58px
    }
}

@media (max-width:480px) {
    .page-container {
        min-width: 480px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .media-body {
        font-size: .85em
    }
    h4.media-heading {
        font-size: 1.6em!important
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 72%
    }
    .page-container.sidebar-collapsed-back {
        width: 70%
    }
    .left-content {
        float: right;
        width: 87%
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 64%
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 87%
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width: 180px;
        z-index: 999999999
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 88%
    }
    .logo-w3-agile {
        width: 100%;
        margin-bottom: 1em;
        margin-right: 0
    }
    .w3layouts-left {
        width: 100%;
        margin-bottom: 1em
    }
    .w3layouts-right {
        width: 100%;
        margin: 0 0 1em 0
    }
    header.agileits-box-header.clearfix h3 {
        font-size: 24px
    }
    .copyrights p {
        font-size: .9em;
        line-height: 1.8em
    }
    .main {
        min-height: 500px
    }
    .questions h2,
    .questions h5 {
        font-size: 1em
    }
    .icon-box {
        width: 100%
    }
}

@media (max-width:414px) {
    .page-container {
        min-width: 414px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .left-content {
        float: right;
        width: 85%
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 88%
    }
    .page-container.sidebar-collapsed .sidebar-menu {
        width: 180px;
        z-index: 999999999
    }
    .page-container.sidebar-collapsed .left-content {
        float: right;
        width: 88%
    }
    .header_top {
        width: 79%
    }
    .text-right {
        font-size: 25px
    }
    .table-img img {
        width: 40px
    }
    .main {
        min-height: 672px
    }
}

@media (max-width:384px) {
    .media>.pull-left {
        padding-right: 10px
    }
    .page-container {
        min-width: 384px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 85%
    }
    .left-content {
        width: 86%
    }
    .page-container.sidebar-collapsed-back {
        width: 86%
    }
    .main {
        min-height: 600px
    }
}

@media (max-width:375px) {
    .page-container {
        min-width: 375px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
}

@media (max-width:320px) {
    .page-container {
        min-width: 320px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto
    }
    .left-content {
        width: 87%;
        padding: 0 1em 0 2em
    }
    .logo-w3-agile h1 {
        font-size: 24px
    }
    .logo-w3-agile {
        padding: .5em
    }
    .w3layouts-right {
        padding: .5em 1em .5em
    }
    .widget-report-table h3 {
        font-size: 18px;
        margin-top: 20px;
        line-height: 25px
    }
    header.agileits-box-header.clearfix h3 {
        font-size: 20px
    }
    .text-right {
        font-size: 20px
    }
    .list-group .list-group-item {
        padding: 12px 4px
    }
    .panel-body {
        padding: 10px
    }
    .table-img img {
        width: 40px
    }
    .main {
        min-height: 504px
    }
    .copyrights {
        padding: .5em .3em
    }
    .pv20 {
        padding-top: 10px!important;
        padding-bottom: 10px!important
    }
    .col-sm-offset-2 {
        padding: 0
    }
    .page-container.sidebar-collapsed-back .left-content {
        float: right;
        width: 86%
    }
    .page-container.sidebar-collapsed-back {
        width: 105%
    }
}

html {
    scroll-behavior: smooth
}
